.footer {
    padding: 20px 35px;
    background-color: var(--branco);
    border-top: 1px solid var(--cinza-claro);
    text-align: center
}

.footer p {
    margin: 0;
    color: var(--cinza);
    font-size: 14px;
}